# Python
__pycache__/
*.py[cod]
env/
venv/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv (venv used)
venv/
venv/*

# Django stuff
*.sqlite3
db.sqlite3
*.log
/staticfiles/
/media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache, pyenv, pipenv
.pytest_cache/
.python-version

# Mac/Linux swap
*~

# Node (if you add a frontend build later)
node_modules/
dist/
build/
